<a href="{{siteSettings.dinopark_url}}e?section=personal-info"
  role="button"
  target="_blank"
  class="btn btn-small no-text dinopark-edit"
  title="{{i18n "dinopark.edit_long"}}"
>
  <span aria-hidden>{{i18n 'dinopark.edit_short'}}</span>
  {{d-icon "external-link-alt" label=(i18n "dinopark.edit_long")}}
</a>
