.dinopark-sign-up {
  label {
    display: inline;
  }

  .dinopark-fields {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin-bottom: 1em;
    align-items: center;

    .value {
      background-color: #ededf0;
      border-radius: 0.25em;
      padding: .5em .6em;
      min-height: 1.4em;
      cursor: not-allowed;
    }

    .value-bio {
      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.user-preferences {

  .dinopark-edit {
    margin-left: 10px;
    font-size: 0.8em;
    vertical-align: bottom;
  }

  .form-vertical {
    display: flex;
    flex-direction: column;
  }

  .control-group {
    order: 1;
  }

  .pref-email, .pref-associated-accounts {
    display: none;
  }

  .pref-mozilla-iam-emails {
    padding-top: 12px;

    .controls {
      margin-top: 12px;
    }

    .control-label {
      margin-bottom: 0;
      line-height: 1.2;
    }

    .inline-label {
      display: inline-block;
      font-weight: bold;
    }

    ul {
      margin: 0;
      list-style: none;
    }

    .user-info {
      margin-bottom: 0;
    }
  }
}

#mozilla-iam-auth-error-page {
  font-size: 16px;
  max-width: 570px;
  margin: 0 auto;

  h1, h2 {
    font-family: "Open Sans", sans-serif;
  }

  h1 {
    font-size: 4em;
  }

  .panel {
    background-color: #f4f4f4;
    box-shadow: 5px 5px 0 0 rgba(217, 217, 217, 1);
    padding: 30px;
    position: relative;
    margin-bottom: 24px;

    &:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 30px;
      top: -40px;
      border: 25px solid;
      border-color: transparent transparent #f4f4f4 transparent;
    }
  }

  .btn {
    display: block;
    width: 270px;
    margin: 19px auto;
    line-height: 1.5em;
  }
}
