.user-preferences {
  .pref-email, .pref-associated-accounts {
    display: none;
  }

  .pref-mozilla-iam-emails {
    padding-top: 12px;

    .controls {
      margin-top: 12px;
    }

    .control-label {
      margin-bottom: 0;
      line-height: 1.2;
    }

    .inline-label {
      display: inline-block;
      font-weight: bold;
    }

    ul {
      margin: 0;
      list-style: none;
    }

    .user-info {
      margin-bottom: 0;
    }
  }
}
